.header{
    width: 100%;
    min-width: 1040px;
 
    height: 60px;
    padding-right: 0 0px;
display: flex;
align-items: center;
background-color: var(--black);
position: sticky;
/* color: white; */
justify-content: space-evenly;
top: 0;
z-index: 100;

}
.header-nav{
    display: flex;
    justify-content: space-evenly;
    
    
}
.line-1{
    
    font-size: 13px;
    font-weight: 500;
   
}
.line-2{
    font-size: 13px;
    font-weight: 800;
}
.header-search{
    display: flex;
    flex: 1;
    align-items: center;
    
}
.header-searchIn{
    height: 12px !important;
    padding: 10px;
    border: none;
   
    width: 100%;
    outline: none;
  
}
.header-search .search-icon{
    padding: 5px;
    height: 22px;
    background-color: rgb(231, 175, 70);
}
.logo{
    object-fit: contain;
    margin: 0 10px;
    padding: 10px;
    margin-top: 3px;
    width: 100px;
    min-width: 100px;
}
.logo:hover{
    border: 1px solid white;
}
.header-option{
    display: flex;
    color: white;
    flex-direction: column;
    margin: 10px 10px;
    padding: 10px 10px ;
}
.header-option:hover{
    border: 1px solid white;
}
.basket{
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    /* padding: 5px 5px; */
 
    
}


#hover:hover{
   border:1px solid  white;
}
.qty{
    color: orange;
    font-weight: 700;
}
.MuiSvgIcon-root {
    cursor: pointer; 
    height: 80px;
    /* border: none; */
}